In [1]:
# import dependencies
import pandas as pd
import datetime as dt
import numpy as np

## Orders

In [2]:
# read in orders dataframe
orders_df = pd.read_csv("original_datasets/global_superstore_orders_2016.csv")
orders_df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11/11/2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.770,High
1,26341,IN-2014-JR162107-41675,2/5/2014,2/7/2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,-$288.77,923.630,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.490,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,-$96.54,910.160,Medium
4,47221,SG-2014-RH9495111-41948,11/5/2014,11/6/2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,6/19/2015,6/19/2015,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",$65.10,5,0.0,$4.50,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,5/6/2014,5/10/2014,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",$16.72,5,0.2,$3.34,1.930,High
51287,31315,CA-2012-ZD21925140-41147,8/26/2012,8/31/2012,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,$8.56,2,0.0,$2.48,1.580,High
51288,9596,MX-2013-RB1979518-41322,2/17/2013,2/21/2013,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",$13.44,2,0.0,$2.40,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,5/22/2013,5/26/2013,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",$61.38,3,0.0,$1.80,1.002,High

In [3]:
# check shape of the dataset
orders_df.shape

(51290, 24)

In [4]:
# get list of all columns
orders_df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [5]:
# check datatypes of columns
orders_df.dtypes

Row ID              int64
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Customer Name      object
Segment            object
Postal Code       float64
City               object
State              object
Country            object
Region             object
Market             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales              object
Quantity            int64
Discount          float64
Profit             object
Shipping Cost     float64
Order Priority     object
dtype: object

In [6]:
# check for missing values
orders_df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [7]:
# check for any duplicate rows 
orders_df.duplicated().sum()

0

In [8]:
# Determine the number of unique values in each column.
orders_df.nunique()

Row ID            51290
Order ID          25728
Order Date         1430
Ship Date          1464
Ship Mode             4
Customer ID       17415
Customer Name       796
Segment               3
Postal Code         631
City               3650
State              1102
Country             165
Region               23
Market                5
Product ID         3788
Category              3
Sub-Category         17
Product Name       3788
Sales             20049
Quantity             14
Discount             27
Profit            16578
Shipping Cost     16452
Order Priority        4
dtype: int64

In [9]:
# create "dictionary" with Order ID, Customer ID, Customer Name, Product ID, Product Name
orders_dictionary = orders_df[['Order ID', 'Customer ID', 'Customer Name', 'Product ID', 'Product Name']]
orders_dictionary

,Order ID,Customer ID,Customer Name,Product ID,Product Name
0,CA-2014-AB10015140-41954,AB-100151402,Aaron Bergman,TEC-PH-5816,Samsung Convoy 3
1,IN-2014-JR162107-41675,JR-162107,Justin Ritter,FUR-CH-5379,"Novimex Executive Leather Armchair, Black"
2,IN-2014-CR127307-41929,CR-127307,Craig Reiter,TEC-PH-5356,"Nokia Smart Phone, with Caller ID"
3,ES-2014-KM1637548-41667,KM-1637548,Katherine Murray,TEC-PH-5267,"Motorola Smart Phone, Cordless"
4,SG-2014-RH9495111-41948,RH-9495111,Rick Hansen,TEC-CO-6011,"Sharp Wireless Fax, High-Speed"
...,...,...,...,...,...
51285,IN-2015-KE1642066-42174,KE-1642066,Katrina Edelman,OFF-FA-3072,"Advantus Thumb Tacks, 12 Pack"
51286,US-2014-ZD21925140-41765,ZD-219251408,Zuschuss Donatelli,FUR-FU-4070,"Eldon Image Series Desk Accessories, Burgundy"
51287,CA-2012-ZD21925140-41147,ZD-219251404,Zuschuss Donatelli,OFF-AR-5321,Newell 341
51288,MX-2013-RB1979518-41322,RB-1979518,Ross Baird,OFF-BI-2919,"Acco Index Tab, Economy"
51289,MX-2013-MC1810093-41416,MC-1810093,Mick Crebagga,OFF-PA-3990,"Eaton Computer Printout Paper, 8.5 x 11"

In [10]:
# drop Row ID, Customer Name, Customer ID, Postal Code, Product ID, Product Name
orders_df = orders_df.drop(columns=['Row ID', 'Customer Name', 'Customer ID', 'Postal Code', 'Product ID', 'Product Name'])
orders_df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Region,Market,Category,Sub-Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,11/11/2014,11/13/2014,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,Technology,Phones,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,2/5/2014,2/7/2014,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,Furniture,Chairs,"$3,709.40",9,0.1,-$288.77,923.63,Critical
2,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,Technology,Phones,"$5,175.17",9,0.1,$919.97,915.49,Medium
3,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,Home Office,Berlin,Berlin,Germany,Western Europe,Europe,Technology,Phones,"$2,892.51",5,0.1,-$96.54,910.16,Medium
4,SG-2014-RH9495111-41948,11/5/2014,11/6/2014,Same Day,Consumer,Dakar,Dakar,Senegal,Western Africa,Africa,Technology,Copiers,"$2,832.96",8,0.0,$311.52,903.04,Critical

In [11]:
# clean up Sales by removing [$,], convert to float64
orders_df['Sales'] = orders_df['Sales'].str.replace(',', '')
orders_df['Sales'] = orders_df['Sales'].str.replace('$', '').astype(np.float64)
orders_df['Sales']

C:\Users\rachm\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

0         221.98
1        3709.40
2        5175.17
3        2892.51
4        2832.96
          ...
51285      65.10
51286      16.72
51287       8.56
51288      13.44
51289      61.38
Name: Sales, Length: 51290, dtype: float64

In [12]:
# clean up Profit by removing [$,], convert to float64
orders_df['Profit'] = orders_df['Profit'].str.replace(',', '')
orders_df['Profit'] = orders_df['Profit'].str.replace('$', '').astype(np.float64)
orders_df['Profit']

C:\Users\rachm\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

0         62.15
1       -288.77
2        919.97
3        -96.54
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: float64

In [13]:
# Order Date to datetime
orders_df['Order Date'] = pd.to_datetime(orders_df['Order Date'])
orders_df['Order Date']

0       2014-11-11
1       2014-02-05
2       2014-10-17
3       2014-01-28
4       2014-11-05
           ...
51285   2015-06-19
51286   2014-05-06
51287   2012-08-26
51288   2013-02-17
51289   2013-05-22
Name: Order Date, Length: 51290, dtype: datetime64[ns]

In [14]:
# Ship Date to datetime
orders_df['Ship Date'] = pd.to_datetime(orders_df['Ship Date'])
orders_df['Ship Date']

0       2014-11-13
1       2014-02-07
2       2014-10-18
3       2014-01-30
4       2014-11-06
           ...
51285   2015-06-19
51286   2014-05-10
51287   2012-08-31
51288   2013-02-21
51289   2013-05-26
Name: Ship Date, Length: 51290, dtype: datetime64[ns]

In [15]:
# create Days to Ship (ship date - order date)
orders_df['Days to Ship'] = (orders_df['Ship Date'] - orders_df['Order Date']).dt.days
orders_df['Days to Ship']

0        2
1        2
2        1
3        2
4        1
        ..
51285    0
51286    4
51287    5
51288    4
51289    4
Name: Days to Ship, Length: 51290, dtype: int64

## Returns

In [16]:
# read in returns dataset
returns_df = pd.read_csv("original_datasets/global_superstore_returns.csv")
returns_df

     Returned                  Order ID           Region
0         Yes  CA-2012-SA20830140-41210       Central US
1         Yes  IN-2012-PB19210127-41259     Eastern Asia
2         Yes  CA-2012-SC20095140-41174       Central US
3         Yes    IN-2015-JH158207-42140          Oceania
4         Yes    IN-2014-LC168857-41747          Oceania
...       ...                       ...              ...
1074      Yes   IN-2014-DA1345058-41769    Southern Asia
1075      Yes  US-2013-HG14845140-41530       Eastern US
1076      Yes   US-2013-SJ2021582-41543  Central America
1077      Yes  CA-2015-EB13870140-42269       Eastern US
1078      Yes    EG-2014-PM894038-41846     North Africa

[1079 rows x 3 columns]

In [17]:
# check regions with most returns
returns_by_region = returns_df.groupby(['Region']).count().sort_values(by='Returned', ascending=False)
returns_by_region

                   Returned  Order ID
Region
Western Europe          121       121
Central America         117       117
Oceania                  78        78
Western US               72        72
Eastern US               69        69
Southeastern Asia        64        64
South America            61        61
Southern Asia            58        58
Southern Europe          55        55
Eastern Asia             53        53
Western Asia             50        50
Southern US              44        44
Northern Europe          43        43
Central US               42        42
Caribbean                31        31
Western Africa           29        29
North Africa             26        26
Eastern Europe           24        24
Eastern Africa           11        11
Southern Africa          11        11
Central Africa           10        10
Eastern Canada            5         5
Central Asia              4         4
Western Canada            1         1

In [18]:
# check datatypes of returns
returns_df.dtypes

Returned    object
Order ID    object
Region      object
dtype: object

In [19]:
# drop regions column to avoid redundancy later when merging
returns_df = returns_df.drop(columns='Region')
returns_df.head()

  Returned                  Order ID
0      Yes  CA-2012-SA20830140-41210
1      Yes  IN-2012-PB19210127-41259
2      Yes  CA-2012-SC20095140-41174
3      Yes    IN-2015-JH158207-42140
4      Yes    IN-2014-LC168857-41747

In [20]:
# change returned "yes" to 1
returns_df = returns_df.replace('Yes', 1)
returns_df.head()

   Returned                  Order ID
0         1  CA-2012-SA20830140-41210
1         1  IN-2012-PB19210127-41259
2         1  CA-2012-SC20095140-41174
3         1    IN-2015-JH158207-42140
4         1    IN-2014-LC168857-41747

## Merge Orders & Returns

In [21]:
# merge Orders & Returns on Order ID, keep Orders
super_df = pd.merge(orders_df, returns_df, on='Order ID', how='left')

# set Order ID as index
super_df = super_df.set_index('Order ID')
super_df

,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Region,Market,Category,Sub-Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Days to Ship,Returned
Order ID,,,,,,,,,,,,,,,,,,,
CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,Technology,Phones,221.98,2,0.0,62.15,40.770,High,2,NaN
IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,Furniture,Chairs,3709.40,9,0.1,-288.77,923.630,Critical,2,NaN
IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,Technology,Phones,5175.17,9,0.1,919.97,915.490,Medium,1,NaN
ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,Western Europe,Europe,Technology,Phones,2892.51,5,0.1,-96.54,910.160,Medium,2,NaN
SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Consumer,Dakar,Dakar,Senegal,Western Africa,Africa,Technology,Copiers,2832.96,8,0.0,311.52,903.040,Critical,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,Corporate,Kure,Hiroshima,Japan,Eastern Asia,Asia Pacific,Office Supplies,Fasteners,65.10,5,0.0,4.50,1.010,Medium,0,NaN
US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,Consumer,Chattanooga,Tennessee,United States,Southern US,USCA,Furniture,Furnishings,16.72,5,0.2,3.34,1.930,High,4,NaN
CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,Consumer,San Francisco,California,United States,Western US,USCA,Office Supplies,Art,8.56,2,0.0,2.48,1.580,High,5,NaN
MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,Home Office,Valinhos,S�o Paulo,Brazil,South America,LATAM,Office Supplies,Binders,13.44,2,0.0,2.40,1.003,Medium,4,NaN
MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,Consumer,Tipitapa,Managua,Nicaragua,Central America,LATAM,Office Supplies,Paper,61.38,3,0.0,1.80,1.002,High,4,NaN

In [22]:
# fill Returned NaNs with 0
super_df['Returned'] = super_df['Returned'].fillna(0)
super_df.head()

,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Region,Market,Category,Sub-Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Days to Ship,Returned
Order ID,,,,,,,,,,,,,,,,,,,
CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,Technology,Phones,221.98,2,0.0,62.15,40.77,High,2,0.0
IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,Furniture,Chairs,3709.40,9,0.1,-288.77,923.63,Critical,2,0.0
IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,Technology,Phones,5175.17,9,0.1,919.97,915.49,Medium,1,0.0
ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,Western Europe,Europe,Technology,Phones,2892.51,5,0.1,-96.54,910.16,Medium,2,0.0
SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Consumer,Dakar,Dakar,Senegal,Western Africa,Africa,Technology,Copiers,2832.96,8,0.0,311.52,903.04,Critical,1,0.0

In [23]:
# check for correct values for Returned, should be binary
super_df['Returned'].unique()

array([0., 1.])

## Export to .csv

In [24]:
# export super_df to superstore.csv
super_df.to_csv('resources/superstore.csv')

In [25]:
# export orders_dictionary to 
orders_dictionary.to_csv('resources/orders_dictionary.csv')